
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
  padding: 1em;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
    font-family: var(--font-mono);

}

pre {
    font-family: var(--font-mono);

  background-color: #0a1b3a;
  color: #00FF00;
  padding: 1em;
  line-height: 1.5;
}


time{
  font-family: var(--font-mono);
  font-weight: 400;
  font-style: normal;
}