:root {
  --color-black: #232529;
  --color-ivory: #f3f0e9;
  --color-white: #faf9f4;

  --color-red: #ba5a32;
  --color-red-contrast: var(--color-white);
  --color-green: #457d56;
  --color-green-contrast: var(--color-white);
  --color-blue: #297d9f;
  --color-blue-contrast: var(--color-white);

    --color-blue-light: #b5e2f4;
;


  --length-spacer: clamp(1rem, 0.5rem + 1vw, 2rem);
  --length-border-radius: 0.25rem;

--length-site-max:120rem;

  --font-body: "IBM Plex Sans", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;



  --color-ground: var(--color-ivory);
  --color-surface: var(--color-white);
  --color-text: var(--color-black);

}



.meta{
	padding: .3em .5em;
	background-color:var(--color-ground);
  color: var(--color-text);
	width: fit-content;
	border-radius: var(--length-border-radius);
	font-family: var(--font-mono);
	font-weight:400;
  margin: 0;
  line-height: 1.5;
  letter-spacing:0.05em;
  font-size: smaller;
  text-wrap: balance;
}