:root {
  --color-red: #ba5a32;
  --color-green: #457d56;
  --color-blue: #297d9f;
  --color-black: #232529;
  --color-white: #faf9f4;
  --color-ivory: #f3f0e9;

  --length-spacer: clamp(1rem, 0.5rem + 1vw, 2rem);
  --length-border-radius: 0.25rem;

  --font-body: "IBM Plex Sans", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}
