.archiveHero-wrapper {
	display: grid;
	padding: var(--proper-length-spacer);
	gap: var(--proper-length-spacer);
	background-color: silver;
	@media (min-width: 40rem) {
		grid-template-columns: 2fr 1fr;
	}
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.archiveHero {
	background: rgba(white, 0.8);
	grid-column: 1/2;
	padding: var(--proper-length-spacer);

	h1 {
		margin: 0;
	}
}

.archiveGrid {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	gap: var(--proper-length-spacer);
	list-style: none;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.archiveList {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	gap: var(--proper-length-spacer);
	list-style: none;
}
