.siteWrapper {
	min-height: 100vh;
	// fix for WordPress' admin bar
	.admin-bar & {
		min-height: calc(100vh - 32px);
		@media screen and (max-width: 782px) {
			min-height: calc(100vh - 46px);
		}
	}
}

.siteContent-wrapper {
	padding: 2em;
}

.siteFooter-wrapper {
	position: sticky;
	top: 100lvh;
}
