// Colors

:root {
	--proper-color-red: #f45657;
	--proper-color-orange: #ff965d;
	--proper-color-yellow: #ffc233;
	--proper-color-green: #51d8b0;
	--proper-color-blue: #2874ff;
	--proper-color-purple: #843fff;
	--proper-color-black: #252525;
	--proper-length-spacer: clamp(1rem, 0.5rem + 1vw, 2rem);
}
