.frontPage-hero-wrapper {
background-color: var(--color-surface);
}

.frontPage-hero {
	max-width: var(--length-site-max);
	margin: auto;
	padding: var(--length-spacer);
	align-items: center;
	display: flex;
	flex-direction: column-reverse;
	gap: var(--length-spacer);

	@media(width > 30rem) {
	display: grid;
	grid-template-columns: auto clamp(25%, 30rem, 30%);
}
}

.frontPage-hero-title {
	font-family: var(--font-mono);
	margin: 0;
}

.frontPage-hero-image {
	display: block;
	aspect-ratio: 1;
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: var(--length-border-radius);
}

.frontPage-map-wrapper {

	background-color: var(--color-green);
	color: var(--color-green-contrast);
	text-wrap: balance;
}

.frontPage-map {
	max-width: var(--length-site-max);
	margin: auto;
	padding: var(--length-spacer);	
	display: grid;
	gap: var(--length-spacer);
	@media(width > 30rem) {
		aspect-ratio: 4/1;
		width: auto;
		grid-template-columns: 1fr 1fr;	
		align-items: center;
	}


	.leafletMap {
		max-height: 100%;
	}
}




.frontPage-posts{
	container-type: inline-size;
	max-width: var(--length-site-max);
	margin: auto;
	padding: var(--length-spacer);

}

.frontPage-guides {
	max-width: var(--length-site-max);
	margin: auto;
	padding: var(--length-spacer);
	display: grid;
	gap: var(--length-spacer);
	@media(width > 30rem) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.frontPage-guides-title{
	grid-column: 1 / -1;

	a{
		text-decoration: none;
		color: inherit;
	}
}

.frontPage-guides-list{
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	gap:.25em;


	a{
		display: block;
		background-color: var(--color-surface);;
		border-left:solid .25em var(--color-green);
		padding:.5em 1em;
		text-decoration: none;
		color: inherit;
	}
}