.frontPage-hero-wrapper {
background-color: var(--color-surface);
}

.frontPage-hero {
	max-width: var(--length-site-max);
	margin: auto;
	padding: var(--length-spacer);
	align-items: center;
	display: flex;
	flex-direction: column-reverse;
	gap: var(--length-spacer);

	@media(width > 30rem) {
	display: grid;
	grid-template-columns: auto clamp(25%, 30rem, 33%);
}
}

.frontPage-hero-title {
	font-family: var(--font-mono);
	margin: 0;
}

.frontPage-hero-image {
	display: block;
	aspect-ratio: 1;
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: var(--length-border-radius);
}