.memberMeta-wrapper{
	background-color: var(--color-ground);
	border-radius: var(--length-border-radius);
	overflow: clip;
	font-family: var(--font-mono);
	display: grid;
	
}

.memberMeta-location-wrapper{
	border-top:dashed thick var(--color-surface);
	padding: 1em;
}

.memberMeta-location{
	border-radius: var(--length-border-radius);
	overflow: clip;
	margin: 0;
	justify-content: stretch;
	background-color: var(--color-text);
}



.memberMeta-socials{
	list-style: none;
	margin: 0;
	padding:0;
	display: flex;
	gap: 0.75em;
	flex-wrap: wrap;

	a{
		color: currentColor;
	}

	svg{
		display:block;
		aspect-ratio: 1;
		width:2.5em;
		height: auto;
	}
}

.memberMeta-social-icon{
	display:block;
	aspect-ratio: 1;
	width:2.5em;
	height: auto;
}

.memberMeta-openingHours{
	border-top:dashed thick var(--color-surface);
	padding: 1em;
	font-size: smaller;
}

.memberMeta-contacts{
	padding: 1em;
	gap: 1em;
	display: grid;
}

.memberMeta-links{
	list-style: none;
	margin: 0;
	padding:0;
	display: flex;
	gap: .5em;
	flex-wrap: wrap;
}

.button.email{
	text-transform: unset;
}

.link,
.catalogue,
.phone,
.email{
	svg{
		display:inline-block;
		width: 1em;	
		height: auto;
		margin-right: .25em;
		vertical-align: baseline;
		transform: translateY(.1em);
	}
}

.member-relatedPosts{
	padding: var(--length-spacer);
	.relatedPosts-wrapper{
	padding: var(--length-spacer);
		color: var(--color-green-contrast);
	background-color: var(--color-green);
	container-type: inline-size;
	display: grid;
	gap: var(--length-spacer);
}}