.memberMeta-wrapper{
	background-color: var(--color-ground);
	border-radius: var(--length-border-radius);
	overflow: clip;
	font-family: var(--font-mono);
	display: grid;
	container-type: inline-size;
	
}

.memberMeta-location-wrapper{
	border-top:dashed thick var(--color-surface);
	padding: 1em;
}

.memberMeta-location{
	border-radius: var(--length-border-radius);
	overflow: clip;
	margin: 0;
	justify-content: stretch;
	background-color: var(--color-text);
}






.memberMeta-openingHours{
	border-top:dashed thick var(--color-surface);
	padding: 1em;
	font-size: smaller;
}


.memberMeta-contacts-wrapper{
	display: grid;
	padding: 1em;
	gap: 0.5em;
	align-items: start;
	grid-template-rows: auto;
	overflow: hidden;
	@container (min-width: 50ch){
		grid-template-columns:min-content 1fr;
	}
	
}

.memberMeta-logo-wrapper{
	background-color: white;
	aspect-ratio: 3/1;
	width: 100%;
	height: auto;
	padding: .5em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--length-border-radius);

	
	@container (min-width: 50ch){
		aspect-ratio: 1;
		width:clamp(3em, 20vw, 8em);
	}
}

.memberMeta-logo{
	aspect-ratio: 1;
	object-fit: contain;
	background-color: white;
	    width: 100%;
    height: auto;
}

.memberMeta-contacts{
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	max-width: 28em;
}


.member-relatedPosts{
	padding: var(--length-spacer);
	.relatedPosts-wrapper{
	padding: var(--length-spacer);
		color: var(--color-green-contrast);
	background-color: var(--color-green);
	container-type: inline-size;
	display: grid;
	gap: var(--length-spacer);
}}