.member-logo{
	display: block;
	aspect-ratio: 6/1;
	padding: .5em;
	object-fit: contain;
	background-color: white;
    height: auto;
	width: 100%;
	object-position: left;
}


.memberMeta-wrapper{
	background-color: var(--color-ground);
	border-radius: var(--length-border-radius);
	overflow: clip;
	font-family: var(--font-mono);
	display: grid;
	container-type: inline-size;
	
}

.memberMeta-location-wrapper{
	padding: .5em;
}

.memberMeta-location{
	border-radius: var(--length-border-radius);
	overflow: clip;
	margin: 0;
	justify-content: stretch;
	background-color: var(--color-text);
}






.memberMeta-openingHours{
	border-top:dashed thick var(--color-surface);
	padding: 1em;
	font-size: smaller;
}



.memberMeta-contacts,
.memberMeta-socials{
		border-top:dashed thick var(--color-surface);

	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	padding: .5em;
}


.member-relatedPosts{
	padding: var(--length-spacer);
	.relatedPosts-wrapper{
	padding: var(--length-spacer);
		color: var(--color-green-contrast);
	background-color: var(--color-green);
	container-type: inline-size;
	display: grid;
	gap: var(--length-spacer);
}}


.button.bluesky{
	background-color: #1185fe;
}
.button.youtube{
	background-color: #ff0000;
}
.button.tiktok{
	background-color: #000000;
}
.button.facebook{
	background-color: #1877f2;
}
.button.instagram{
	background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
}