.page-wrapper {
  display: grid;
  gap:var(--length-spacer);
  max-width: var(--length-site-max);
  margin: auto;
  padding-inline: var(--length-spacer);

  @media (width > 50rem) {
    grid-template-columns: auto clamp(20rem, 33vw, 40rem);
  }
}

.page-wrapper main {
  background-color: var(--color-surface);
  padding: var(--length-spacer);
  max-width: 80rem;
  overflow: auto; /* Clearfix */
}

.sidebar {
  align-content: start;
  padding-block: var(--length-spacer);
  container-name: sidebar;
  container-type: inline-size;
  display: grid;
  gap: var(--length-spacer);
}