.page-wrapper {
  display: grid;
  max-width: var(--length-site-max);
  margin: auto;
  
  
  @media (width > 50rem) {
    gap:var(--length-spacer);
    padding-inline: var(--length-spacer);
    padding-block-end: var(--length-spacer);
    grid-template-columns: auto clamp(20rem, 33vw, 40rem);
  }
}

.page-wrapper main {
  background-color: var(--color-surface);
  max-width: 80rem;
  overflow: auto; /* Clearfix */
  padding: var(--length-spacer);

}

.sidebar {
  align-content: start;
  container-name: sidebar;
  container-type: inline-size;
  display: grid;
  gap: var(--length-spacer);
       padding:var(--length-spacer);

  
  @media (width > 50rem) {
     padding: var(--length-spacer) 0;
}
}