.page-wrapper {
  display: grid;

  @media (width > 50rem) {
    grid-template-columns: auto clamp(20rem, 33vw, 50rem);
  }
}

.page-wrapper main {
  background-color: var(--color-surface);
  padding: var(--length-spacer);
  max-width: 80rem;
  overflow: auto; /* Clearfix */
}

.sidebar {
  padding: var(--length-spacer);
  container-name: sidebar;
  container-type: inline-size;
  display: grid;
  gap: var(--length-spacer);
}
