.archiveHeader {
  background-color: var(--color-white);
  padding: var(--length-spacer);
}

.archiveSearchbar {
  background-color: var(--color-black);
  padding: calc(var(--length-spacer) / 2) var(--length-spacer);
  display: flex;
  justify-content: flex-end;
}

.archiveGrid {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: var(--proper-length-spacer);
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.archiveList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: var(--proper-length-spacer);
  list-style: none;
}
