.archiveHeader {
  background-color: var(--color-white);
  padding: var(--length-spacer);
}

.archiveSearchbar {
  background-color: var(--color-black);
  padding: calc(var(--length-spacer) / 2) var(--length-spacer);
  display: flex;
  justify-content: flex-end;
}

.archive-content {
  padding: var(--length-spacer);
}

.archiveGrid {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: var(--length-spacer);
  list-style: none;

  @media (width> 40rem) {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }
}

.archiveList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: var(--length-spacer);
  list-style: none;
}
