name: Deploy to staging
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # - uses: actions/checkout@v3
      # - name: Install npm dependencies
      #   run: npm install
      # - name: Run build task
      #   run: npm run build --if-present
      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@v5.1.1
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.STAGING_REMOTE_USER }}
          SOURCE: "/"
          TARGET: ${{ secrets.REMOTE_TARGET }}
          EXCLUDE: ".git,.github,node_modules"
          ARGS: -rltDzvO
          SCRIPT_AFTER: |
			whoami
			ls -al
			echo $RSYNC_STDOUT
