.familyTree-wrapper{
	background-color: var(--color-surface);
	    border-radius: var(--length-border-radius);
    overflow: clip;
}



.familyTree-wrapper li li {
	border-top: solid  var(--color-ground);
}

.familyTree-wrapper a {
	color: currentColor;
	text-decoration: none;
	display: block;
	padding: 0.25em 0.5em;
	border-left: solid 0.25em var(--color-green);
}

.familyTree-wrapper a:hover {
	background-color: var(--color-green);
	color: var(--color-green-contrast);
}

.familyTree {
	list-style: none;
	margin: 0;
	padding: 0;
}

.familyTree h3 {
	padding: 0;
	margin: 0;
}
.familyTree h3 a {
	display: block;
	margin: 0;
	padding-block: 0.75em;
		background-color: var(--color-green);
		color: var(--color-green-contrast);
}

.familyTree ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


.familyTree .current_page_item a {
text-decoration: underline currentColor;
border-left-color: var(--color-red);
}

