.searchbar-wrapper {
  background-color: var(--color-black);
}

.searchbar {
  width: 100%;
  max-width: var(--length-site-max);
  margin: auto;
  padding: calc(var(--length-spacer) / 2) var(--length-spacer);
}



.search-form {
	max-width: 600px;
	background-color: var(--color-white);
	padding: calc(var(--length-border-radius) / 2);
	width: fit-content;
	display: flex;
	border-radius: var(--length-border-radius);
	input {
		border: none;
	}

	[type="submit"] {
		background-color: var(--color-red);
		color: var(--color-red-contrast);
		text-transform: uppercase;
	}
}


