.siteHeader-wrapper {
background-color: var(--color-black);
color: var(--color-white);
a {
  color: currentColor;
  text-decoration: none;
}
}

.siteHeader-inner{
  padding:var(--length-spacer);
  padding-bottom: 0;
  margin: auto;

  max-width: var(--length-site-max);
  display: grid;
  gap:1em;
  align-items: center;

@media (width > 40rem) {
  grid-template-columns: 1fr max-content;
  grid-template-rows: fit-content fit-content;
  align-items: center;
}
}


.siteHeader-title {
  margin: 0;

  @media (width > 40rem) {
  grid-column: 1;
  grid-row: 1;
  }
}
.siteHeader-logo {
  min-height: unset;
  position: relative;
  display: block;
  height: auto;
  width: 12rem;
  fill: currentColor;
  margin: 0;

  & a{
    display: block;
  }
}

.siteNav-wrapper {
margin: auto;
  @media (width > 40rem) {
  grid-column: 2;
  grid-row: 1/3;
}}

.languageSwitcher {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;

  @media (width > 40rem) {
  grid-row: 2;
    justify-content: start;

}
}

.lang-item a {
  line-height: 1;
  display: inline-block;
  padding:0.5em 1em;
}

.current-lang a {
  background-color: var(--color-surface);
  color: var(--color-text);
  border-top-left-radius: var(--length-border-radius);
    border-top-right-radius: var(--length-border-radius);

}
