.siteFooter-wrapper {
  background-color: var(--color-black);
  color: var(--color-white);
}

.siteFooter-inner {
  padding: var(--length-spacer);
  max-width:var(--length-site-max);
  margin:auto;
  display: grid;
  gap: calc(var(--length-spacer) * 2);
  a {
    color: currentColor;
    text-decoration: none;
  }
  
  @media (width > 60rem) {
    gap: var(--length-spacer);
    align-items: flex-start;
    grid-template-columns:2fr 1fr;
  }
}

.siteFooter {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--length-spacer);

  @media (min-width: 60rem) {
    max-width: 30rem;
    text-align: right;
    justify-content: flex-end;
    justify-self: flex-end;
  }
}

.copyright {
  font-size: smaller;
}

.siteFooter-menus {
  display: grid;
  position: relative;
  gap: 1em;
  grid-column: 1;
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @media (min-width: 60rem) {
    grid-template-columns: repeat(3, 1fr);
  }

  
}

.footerNav:not(:last-child) {

  border-block-end: 1px solid var(--color-white);
    padding-block-end: 1em;

    @media (min-width: 60rem) {
      border-block-end: none;
    padding-block-end: 0;
    border-inline-end: 1px solid var(--color-white);
    padding-inline-end: 1em;
  }
}

.siteFooter-logos {
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--length-spacer);
  flex-wrap: wrap;

  .wg-logo,
  .acaw-logo {
    height: 3rem;
    width: auto;
  }

  @media (min-width: 60rem) {
    justify-content: flex-end;
  }
}

.footerSocials-icon {
  display: inline-block;
  vertical-align: baseline;
  aspect-ratio: 1;
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
  transform: translateY(.1em);
}
