.siteNav-wrapper{
  container-type: inline-size;
  
  .menu{
    justify-content: flex-end;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    
  }
  
  .menu-item a{
    /* background-color: pink; */
    display: inline-block;
    padding: 0.25em;
    white-space: nowrap;
  }
  
  .menu-item.current-menu-item a{
    text-decoration: underline;
    
  }
  
  
  .siteNav-toggle{
    display: none;
  }
  
}


.too-small{
  background-color: tomato;
}