.siteHeader-wrapper {
  background-color: var(--color-black);
  color: var(--color-white);
  a {
    color: currentColor;
    text-decoration: none;
  }
}

.siteHeader {
  padding: var(--length-spacer);
}

.siteHeader-title {
  margin: 0;
}
.siteHeader-logo {
  display: block;
  width: 6em;
  height: 2em;
  fill: currentColor;
}
