.siteFooter-wrapper {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: var(--length-spacer);
  display: grid;
  gap: var(--length-spacer);
  a {
    color: currentColor;
    text-decoration: none;
  }

  @media (width > 40rem) {
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
  }
}

.siteFooter {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--length-spacer);

  @media (min-width: 40rem) {
    max-width: 30rem;
    text-align: right;
    justify-content: flex-end;
    justify-self: flex-end;
  }
}

.copyright {
  font-size: smaller;
}

.siteFooter-menus {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  gap: calc(var(--length-spacer) * 2);
  grid-column: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 0.1em;
    background-color: var(--color-white);
    transform: translateX(-50%);
    pointer-events: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 40rem) {
    width: max-content;
  }
}

.siteFooter-logos {
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--length-spacer);
  height: 3rem;

  .wg-logo,
  .acaw-logo {
    height: 3rem;
    width: auto;
  }

  @media (min-width: 40rem) {
    justify-content: flex-end;
  }
}

.footerSocials-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
}
